html {
  font-size: 100px;
}
header {
  width: 100%;
  background: linear-gradient(to right, #5168e3, #e932a8);
  height: 1.28rem;
  font-size: 0;
}
header ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: #33ffff;
  padding: 0rem 0.32rem;
  box-sizing: border-box;
}
header ul li {
  margin-top: 0.66rem;
  font-size: 0.36rem;
}
header ul li:nth-child(1) {
  width: 0.44rem;
  height: 0.44rem;
  background: url(../img/home_03.png) no-repeat 0rem 0rem;
}
header ul li:nth-child(3) {
  color: #ec32a5;
}
header ul li:nth-child(3) p {
  width: 0.66rem;
  margin-top: 0.12rem;
  height: 0.04rem;
  background: url(../img/home-8.png);
  margin-left: 50%;
  transform: translateX(-50%);
}
header ul li:nth-child(5) {
  width: 0.44rem;
  height: 0.44rem;
  background: url(../img/3@2x.png) no-repeat 0rem 0rem;
}
.swiper-container {
  width: 100%;
}
.swiper-container .swiper-slide {
  width: 100%;
  font-size: 0;
}
.swiper-container .swiper-slide img {
  width: 100%;
  height: 4.1rem;
}
.ul {
  display: flex;
  justify-content: space-between;
  padding-right: 0.32rem;
  margin-top: 0.42rem;
  padding-bottom: 0.32rem;
  border-bottom: 1px solid #e8e8e8;
}
.ul li img {
  width: 1.05rem;
  height: 1.05rem;
  font-size: 0;
}
.ul li p {
  font-size: 0.28rem;
  color: #333333;
  text-align: center;
  margin-top: 0.08rem;
}
.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
  width: 100%;
  padding-left: 0.3rem;
  box-sizing: border-box;
  padding-right: 0.64rem;
}
.div p:nth-child(1) {
  margin-top: 0.42rem;
  margin-bottom: 0.32rem;
  font-size: 0.36rem;
  color: #333333;
}
.div p:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div p:nth-child(2) a:first-child {
  font-size: 0.22rem;
  color: #333333;
  padding-right: 0.72rem;
}
.div p:nth-child(2) a:last-child {
  font-size: 0.22rem;
  color: #333333;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.div p:nth-child(2) .toggle {
  color: #ec32a5 !important;
  background: url(../img/9@2x.png) no-repeat 0rem 0.28rem;
}
.div p:nth-child(2) a {
  padding-bottom: 0.1rem;
}
.div p:nth-child(2) .p {
  position: absolute;
  bottom: -0.08rem;
  margin-top: 0.08rem;
  display: block;
  background: url(../img/9@2x.png) no-repeat 0rem 0rem;
  width: 0.44rem;
  height: 0.04rem;
}
.home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  margin-bottom: 1.18rem;
}
.home li {
  width: 2.4rem;
  margin-right: 0.15rem;
  box-sizing: border-box;
}
.home li img {
  width: 100%;
  height: 2.33rem;
}
.home li p {
  box-sizing: border-box;
  margin-left: 0.3rem;
}
.home li p:nth-child(2) {
  margin-top: 0.16rem;
  font-size: 0.24rem;
  color: #333333;
}
.home li p:nth-child(3) {
  margin-top: 0.12rem;
  font-size: 0.18rem;
  color: #999999;
  margin-bottom: 0.32rem;
}
.home li:nth-child(3n) {
  margin-right: 0rem;
}
footer {
  position: fixed;
  bottom: 0.2rem;
  width: 100%;
  height: 0.98rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #5168e3, #e932a8);
}
footer .f-div {
  display: flex;
  align-items: center;
}
footer .f-div img {
  margin-left: 0.32rem;
  width: 0.68rem;
  height: 0.68rem;
}
footer .f-div p {
  font-size: 0;
  display: flex;
  flex-direction: column;
  margin-left: 0.16rem;
}
footer .f-div p span:nth-child(1) {
  font-size: 0.24rem;
  color: #ffffff;
}
footer .f-div p span:nth-child(2) {
  margin-top: 0.16rem;
  font-size: 0.2rem;
  color: #ffffff;
}
footer .b-div {
  display: flex;
  align-items: center;
}
footer .b-div span {
  margin-right: 0.32rem;
}
footer .b-div span:nth-child(1) {
  background: url(../img/home-4.png) no-repeat 0rem 0rem;
  background-size: 100%;
  width: 0.44rem;
  height: 0.44rem;
}
footer .b-div span:nth-child(2) {
  background: url(../img/home-6.png) no-repeat 0rem 0rem;
  width: 0.44rem;
  height: 0.44rem;
}
