html {
    font-size: 100px;
}

header {
    width: 100%;
    background: linear-gradient(to right, #5168e3, #e932a8);
    height: 1.28rem;
    font-size: 0;
    ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        color: rgb(51, 255, 255);
        padding: 0rem 0.32rem;
        box-sizing: border-box;
        li{
            margin-top: 0.66rem;
            font-size: 0.36rem;
        }
        li:nth-child(1) {
            width: 0.44rem;
            height: 0.44rem;
            background: url(./../img/home_03.png)no-repeat 0rem 0rem;
        }

        li:nth-child(3) {
            color: rgb(236, 50, 165);

            p {
                width: 0.66rem;
                margin-top: 0.12rem;
                height: 0.04rem;
               background: url(./../img/home-8.png);
               margin-left: 50%;
               transform: translateX(-50%);
            }
        }
        li:nth-child(5){
            width: 0.44rem;
            height: 0.44rem;
            background: url(./../img/3@2x.png)no-repeat 0rem 0rem;
        }
    }

}
.swiper-slide{
    width: 100%;
    font-size: 0;
    img{
        width: 100%;
        height: 4.1rem;
        
    }
}
.ul{
    display: flex;
    justify-content: space-between;
    padding-right: 0.32rem;
    margin-top: .42rem;
    padding-bottom: 0.32rem;
    border-bottom: 1px solid rgb(232, 232, 232);
    li{
        img{
            width: 1.05rem;
            height: 1.05rem;
            font-size: 0;
        }
        p{
            font-size: 0.28rem;
            color:rgb(51, 51, 51);
            text-align: center;
            margin-top: 0.08rem;
        }
    }
}
.uls{
    display: ;
    font-size: 0;
    li:nth-child(1){
        font-size: 0.36rem;
        color:rgb(51, 51, 51);
    }
    li:nth-child(2){
        font-size: 0.28rem;
        color:rgb(51, 51, 51);
    }
    li:nth-child(3){
        font-size: 0.28rem;
        color:#ec32a5;
    }
}